* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.chat {
  border: 2px solid black;
  height: 500px;
  margin: 24px;
  position: relative;
  width: 400px;
}

.chat__form {
  border-top: 2px solid black;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.chat__text-input {
  border: 0;
  padding: 10px;
  width: calc(100% - 80px);
}

.chat__btn {
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  width: 80px;
}

.chat__messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat__messages li {
  padding: 5px 10px;
}

.chat__messages li:nth-child(odd) {
  background: #eee;
}
